<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <mat-card-title>
        Table of Graduates From University First Degree Courses By Type Of Course
      </mat-card-title>
      <mat-card-subtitle>
        To know more about this dataset, please visit this <a href="https://data.gov.sg/dataset/graduates-from-university-first-degree-courses-by-type-of-course?view_id=fa0e401c-6251-4a15-aebc-a5f3d2c85752&resource_id=eb8b932c-503c-41e7-b513-114cffbe2338"
                                                              target="_blank"><b>page</b></a>
      </mat-card-subtitle>
    </mat-card-header>

    <div class="container-mat-tab-group">
      <mat-tab-group mat-align-tabs="center">

        <mat-tab label="Create">
          <form (submit)="add()" class="form">
            <mat-form-field appearance="fill" class="field-year">
              <input matInput placeholder="Year" name="year" required [(ngModel)]="graduationData.year">
            </mat-form-field>

            <mat-form-field appearance="fill" class="field-sex">
              <mat-label>Sex</mat-label>
              <mat-select required name="sex" [(ngModel)]="graduationData.sex">
                <mat-option value="Males">Males</mat-option>
                <mat-option value="Females">Females</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="field-typeOfCourse">
              <input matInput placeholder="Type Of Course" name="typeOfCourse" required [(ngModel)]="graduationData.typeOfCourse">
            </mat-form-field>

            <mat-form-field appearance="fill" class="field-noOfGraduates">
              <input matInput placeholder="No. Of Graduates" name="noOfGraduates" required [(ngModel)]="graduationData.noOfGraduates">
            </mat-form-field>

            <div class="btn-container"><button mat-raised-button type="submit" class="btn" color="primary">Create</button></div>

          </form>
        </mat-tab>

        <mat-tab label="Read">

        </mat-tab>

        <mat-tab label="Update">
          <form (submit)="update()" class="form">
            <mat-form-field appearance="fill" class="field-id">
              <mat-label>Id</mat-label>
              <mat-select required name="id" [(ngModel)]="this.num">
                <mat-option *ngFor="let graduation of graduations" [value]="graduation.id">{{graduation.id}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="field-year">
              <input matInput placeholder="Year" name="year" required [(ngModel)]="graduationData.year">
            </mat-form-field>

            <mat-form-field appearance="fill" class="field-sex">
              <mat-label>Sex</mat-label>
              <mat-select required name="sex" [(ngModel)]="graduationData.sex">
                <mat-option value="Males">Males</mat-option>
                <mat-option value="Females">Females</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="fill" class="field-typeOfCourse">
              <input matInput placeholder="Type Of Course" name="typeOfCourse" required [(ngModel)]="graduationData.typeOfCourse">
            </mat-form-field>

            <mat-form-field appearance="fill" class="field-noOfGraduates">
              <input matInput placeholder="No. Of Graduates" name="noOfGraduates" required [(ngModel)]="graduationData.noOfGraduates">
            </mat-form-field>
            <div class="btn-container"><button mat-raised-button type="submit" class="btn" color="primary">Update</button></div>
          </form>
        </mat-tab>

        <mat-tab label="Delete">
          <form (submit)="delete()" class="form">

            <mat-form-field appearance="fill" class="field-id">
              <mat-label>Id</mat-label>
              <mat-select required name="id" [(ngModel)]="graduationData.id">
                <mat-option *ngFor="let graduation of graduations" [value]="graduation.id">{{graduation.id}}</mat-option>
              </mat-select>
            </mat-form-field>

            <div class="btn-container"><button mat-raised-button type="submit" class="btn" color="primary">Delete</button></div>

          </form>
        </mat-tab>
      </mat-tab-group>
    </div>

    <mat-card-content>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z5">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>Id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
        </ng-container>
        <ng-container matColumnDef="year">
          <th mat-header-cell *matHeaderCellDef>Year</th>
          <td mat-cell *matCellDef="let element">{{ element.year }}</td>
        </ng-container>
        <ng-container matColumnDef="sex">
          <th mat-header-cell *matHeaderCellDef>Sex</th>
          <td mat-cell *matCellDef="let element">{{ element.sex }}</td>
        </ng-container>
        <ng-container matColumnDef="typeOfCourse">
          <th mat-header-cell *matHeaderCellDef>Type of Course</th>
          <td mat-cell *matCellDef="let element">{{ element.typeOfCourse }}</td>
        </ng-container>
        <ng-container matColumnDef="noOfGraduates">
          <th mat-header-cell *matHeaderCellDef>No. of Graduates</th>
          <td mat-cell *matCellDef="let element">{{ element.noOfGraduates }}</td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      </table>
      <mat-paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

    </mat-card-content>
  </mat-card>
</div>

