.card{
  width: 80%;
  margin-top: 20px;
}

.container{
  display: flex;
  align-items: center;
  justify-content: center;
}

table{
  width: 100%;
}

.container-mat-tab-group{
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: auto;
}

.btn-container{
  display: flex;
  justify-content: center;
}

.btn{
  width: 50%;
  border-radius: 10px;
}
